#re1{margin:0px 0px 0px 0px ;
     border:1px solid ;
	 height:100%}

#re2{height:50px;
       margin: 0px 0px 0px 0px ;
	   background-color:navy}

#tr1{margin:10px 0px 0px 20px;
       float:left;
	   font-size:30px;
	   color:white}

.m1{color:black}

#img{height:33px;
     width:33px ; 
	 margin: 10px 0px 0px 30px}

#ins{float:right;
     color:white;
	 margin:10px 80px 0px 0px ;
	 font-size:20px}

#item{margin:30px 0px 20px 200px;
        font-size:30px;
		float:left}

#table1{margin:20px 30px 0px 0px;
        float:left}

divmenu{margin:0px 0px 0px 0px}

.name{margin:10px 0px 0px 200px;
     float:left;
	 font-size:18px}
.items{margin:10px 0px 0px 35px ;
      float:right;
	  font-size:18px}

#items1{margin:10px 0px 0px 45px ;
        float:left;
		font-size:18px;
		text-align:center}

.item{margin:10px 0px 0px 300px ;
      float:right;
	  font-size:18px}

.ite{margin:10px 10px 0px 35px ;
     float:right;
	 font-size:18px}

.it{margin:10px 20px 0px 35px ;
    float:right;
	font-size:18px}

.i{margin:10px 0px 0px 35px ;
   float:right;
   font-size:18px}

.ii{margin:10px 15px 0px 35px ;
    float:right;
	font-size:18px}
.is{margin:10px 35px 0px 35px ;
    float:right;
	font-size:18px}

.do{margin:10px 10px 0px 35px ;
    float:right;
	font-size:18px}

#down{height:50px;
      margin:601px 0px 1px 0px ;
	  background-color:lightgrey}

#copyright{margin:15px 0px 0px 20px;
          float:left}

#cart{float:right;
     color:white;
	 margin:10px 80px 0px 0px ;
	 font-size:20px}

#men{margin:80px 0px 0px 200px;
     font-size:40px;
	 float:left}

#down2{height:50px;
       margin:0px 0px 0px 0px ; 
	   background-color:lightgrey;
	   float:right}

#down3{height:50px;
       margin:564px 0px 0px 0px ; 
	   background-color:lightgrey}

#divmenu3{margin:60px 50px 20px 200px;
          font-size:35px;
		  float:left}

#img3{color:green;
      margin:40px 995px 0px 0px;
	  float:right;
	  font-size: 20px}

#name13{margin:10px 10px 0px 200px;
        float:right;
		font-size:18px}

#name14{margin:10px 25px 0px 200px;
        float:right;
		font-size:18px}

#name15{margin:5px 35px 50px 100px;
        float:right;
		font-size:18px}

#img4{margin:70px 800px 0px 100px;
      color:green;
	  float:right;
	  font-size:20px}

#div4{border: 0px solid;
      height:300px;
	  width: 1120px;
	  margin:40px 200px 0px 140px;
	  float:right}

#name4{margin:30px 0px 0px 0px ;
       font-size:18px;
	   float:left}

#class4{margin:30px 0px 0px 350px ;
       font-size:18px;
	   float:left}

#clas4{margin:30px 0px 0px 110px ;
       font-size:18px;
	   float:left}

#cla4{margin:30px 0px 0px 90px ;
      font-size:18px;
	  float:left}

#cl4{margin:30px 0px 0px 100px ; 
     font-size:18px;
	 float:left}

.sand1{margin:10px 0px 0px 0px ;
       font-size:18px;
	   float:left}

.sand2{margin:10px 0px 0px 380px ;
       font-size:18px;
	   float:left;
	   text-align:center}

.sand21{margin:10px 0px 0px 350px ;
        font-size:18px;
		float:left;
		text-align:center}

.sand3{margin:10px 0px 0px 80px ;
       font-size:18px;
	   float:left}

#sa3{margin:10px 0px 0px 88px ;
     font-size:18px;
	 float:left}

.sand4{margin:10px 0px 0px 80px ; 
       font-size:18px;
	   float:left}

.sand5{margin:10px 0px 0px 90px ;
       font-size:18px;
	   float:left}

#class5{margin:10px 0px 0px 348px;
        font-size:18px;
		float:left}

#clas5{margin:10px 0px 0px 80px;
       font-size:18px;
	   float:left}

#cart5{margin:60px 0px 0px 200px;
       font-size:30px;
	   float:left}

#div7{border: 0px solid;
      height:400px;
	  width: 1120px;
	  margin:40px 200px 0px 140px;
	  float:right}

#table7{font-size:18px}

#tabl7{height:25px;
       width:1000px;
	   font-size:17px}

.tab7{font-size:18px;
      margin:30px 150px 0px 0px;
	  float:left}

#ta7{text-align:right;
     height:22px;
	 width:100px;
	 font-size:15px}

.ta71{text-align:right;
      height:22px;
	  width:22px;
	  margin:0px 5px 0px 0px}

.yes{margin:0px 15px 5px 0px;
     font-size:20px}

#ta72{text-align:right;
      height:22px;
	  width:180px;
	  text-align:left;
	  font-size:15px}

#ta73{text-align:right;
      height:28px;
	  width:180px;
	  font-size:15px}

#lab7{margin:35px 90px 0px 0px;
      float:right;
	  font-size:18px}

#t7{font-size:18px;
    margin:30px 0px 0px 0px;
	height:28px;
	width:28px }

#button7{margin:30px 0px 0px 0px;
         background-color:navy;
		 color:white;
		 height:45px;
		 width:150px;
		 font-size:17px}







